/* article > *:not(.entry-content),
.entry-content > * {
	@apply mx-auto max-w-content;
} */

.entry-content,
.block-editor-block-list__layout {
	h1 {
		@apply text-2xl;
	}

	h2 {
		@apply text-xl;
	}

	h3 {
		@apply text-lg;
	}

	p,
	ul,
	ol {
		a {
			@apply text-blue-500 underline;

			&:hover {
				@apply no-underline;
			}
		}

		@apply mb-8;
	}

	ul:not(.block-editor-block-variation-picker__variations) {
		li {
			@apply list-disc list-inside;
		}
	}

	ol {
		li {
			@apply list-decimal list-inside;
		}
	}
}

@keyframes gradient-smooth {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.wrapper {
	@apply w-full
    max-w-[104rem]
    mx-auto
    px-4
    xxs:px-5
    xs:px-6
    sm:px-7
    md:px-8
    lg:px-12
    xl:px-14
    2xl:px-16;
}

header .wrapper {
	@apply max-w-[104rem];
}

[data-element="submenu-toggler"] {
	@apply absolute
    duration-300
    flex
    h-8
    items-center
    justify-center
    right-0
    top-2
    transition-transform
    w-8
    will-change-transform
    xl:h-4
    xl:-left-3
    xl:relative
    xl:right-auto
    xl:top-auto
    xl:w-4;
}

.menu-image.menu-image-title-below {
	@apply !p-0
    rounded-md;
}

.menu-image-title-below.menu-image-title {
	@apply block
    /* group-hover:text-opticBlack */
    /* group-hover:border-opticOrange */
    transition-colors
    duration-500
    /* border-transparent border-b; */;
}

.swiper-slide:not(.swiper-slide-visible) {
	@apply opacity-0
    pointer-events-none;
}
/* 
.xx {
	@apply w-full flex justify-center gap-y-1 flex-wrap items-center static top-full my-[3.5rem];
}

.xx li {
	@apply flex;
}

.xxx {
	@apply after:bg-opticGray--extralight after:rounded-md after:h-[0.3125rem] after:flex after:w-9 after:absolute after:top-1 after:left-0 after:transition after:duration-300
    inline-block h-3 w-[32px] mx-2 relative hover:after:bg-opticOrange;
}

.xxx.is-active {
	@apply after:bg-opticOrange;
} */
